*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

body{
    height:100vh;
    background:
    linear-gradient(rgba(0,0,0,0.75),
    rgba(0,0,0,0.75)),
    url('https://images.unsplash.com/photo-1511920170033-f8396924c348');

    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.overlay{
    position:absolute;
    width:100%;
    height:100%;
    backdrop-filter:blur(4px);
}

.container{
    position:relative;
    z-index:2;
}

.login-box{
    width:380px;
    padding:40px;
    border-radius:20px;

    background:rgba(20,20,20,0.75);

    border:1px solid rgba(255,255,255,0.1);

    box-shadow:
    0 0 25px rgba(255,140,0,0.2);

    backdrop-filter:blur(12px);

    color:white;
}

.logo{
    text-align:center;
    margin-bottom:20px;
}

.logo i{
    font-size:40px;
    color:#ff9f43;

    text-shadow:
    0 0 15px #ff9f43;
}

.logo h2{
    margin-top:10px;
    font-weight:600;
    letter-spacing:1px;
}

.login-box h1{
    text-align:center;
    margin-bottom:10px;
    font-size:30px;
}

.login-box p{
    text-align:center;
    margin-bottom:30px;
    color:#ccc;
}

.input-box{
    position:relative;
    margin-bottom:20px;
}

.input-box input{
    width:100%;
    padding:15px 45px 15px 15px;

    border:none;
    outline:none;

    border-radius:12px;

    background:#1f1f1f;
    color:white;

    font-size:15px;

    transition:0.3s;
}

.input-box input:focus{
    border:1px solid #ff9f43;

    box-shadow:
    0 0 12px rgba(255,159,67,0.5);
}

.input-box i{
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
    color:#ff9f43;
}

.btn{
    width:100%;
    padding:14px;

    border:none;
    border-radius:12px;

    background:#ff9f43;
    color:black;

    font-weight:600;
    font-size:16px;

    cursor:pointer;

    transition:0.3s;
}

.btn:hover{
    background:#ffaa54;

    transform:translateY(-2px);

    box-shadow:
    0 0 20px rgba(255,159,67,0.5);
}

.extra{
    text-align:center;
    margin-top:20px;
    color:#ccc;
}

.extra a{
    color:#ff9f43;
    text-decoration:none;
    font-weight:600;
}

.extra a:hover{
    text-shadow:
    0 0 10px #ff9f43;
}

@media(max-width:450px){

    .login-box{
        width:90%;
        padding:30px;
    }

}
